body {
    font-family: 'times new roman';
}
.links-div {
    text-align: center;
    padding: 5px;

}
.links-div a {
    padding: 5px;
}
.name-div {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}
a {
    color: black;
    /* padding: 5px; */
}

h1:hover {
    font-style: italic;
}

h2 {
    padding: 30px;
}

#footer {
    background-color: black;
    color:white;
	position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    z-index: 100;
}

#canvas {
    background-color: black;
    position:absolute;
    width:100%;
    height:100%;
}
/* .sites {
    height:20vh;
    width: auto;
} */

.container-fluid {
    margin-top: 10vh;
}
.sites {
    border-radius: 20px;
}
#site-1 {
    background: url('../assets/ryan-dorsey.png');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}
#site-1:hover {
    background: url('../assets/ryan-dorsey.gif');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}

#site-2 {
    background: url('../assets/vanishg-virginia.png');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}
#site-2:hover {
    background: url('../assets/vanishing-virginia.gif');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}
#site-3 {
    background: url('../assets/ex/5.jpeg');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}
#site-3:hover {
    background: url('../assets/ex/6.jpeg');
    z-index: 10;
    height: 30vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
     /* Do not repeat the image */
  background-size: cover; 
}

.site-title {
    margin-top: 2vh;
    text-align: center;
    color: grey;
    font-style: italic;
    font-size: 1.2em;

}
@media only screen and (max-device-width: 480px) {
	#canvas {
		visibility: hidden;
	}
	body {
		background-color: #dedede;
		text-align: center;
		font-size: 30;
	}
    #footer {
        visibility: hidden;
        z-index: -1;
    }
}